<section class="table-container">
  <div class="table-title">
    <h2>Lista de Categorias</h2>
    <button class="btn-register" (click)="registerCategory()"><span>Cadastrar</span></button>
  </div>
  <p-table class="table-category" [value]="arrayActiveCategory.content" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th class="tb-title">Ação</th>
        <th class="tb-title" pSortableColumn="id">id <p-sortIcon field="id"></p-sortIcon></th>
        <th class="tb-title" pSortableColumn="descCategoria">Descrição <p-sortIcon field="descCategoria"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
      <tr>
        <td class="table-line">
          <button class="btn-edit" onclick="">
            E
          </button>
        </td>
        <td class="table-line">{{category.id}}</td>
        <td class="table-line">{{category.descCategoria}}</td>
      </tr>
    </ng-template>
  </p-table>
</section>
