<main>
  <section class="form-section">
    <img src="../../../assets/images/Espaço_desapego-removebg-preview.png" alt="">
    <h2>{{ title }}</h2>

    <ng-content></ng-content>

    <div class="btn-wrapper">
      <button class="btn-primary">{{ primaryBtnText }}</button>
      <div class="divider">
        <div></div>
        <span>or</span>
        <div></div>
      </div>
      <button class="btn-secondary">{{ secondaryBtnText }}</button>
    </div>
  </section>

  <section class="main-section">
    <h1>Espaço Desapego Brechó</h1>
    <img src="../../../assets/images/merlin.jpg" alt="">
  </section>
</main>
