/* You can add global styles to this file, and also import other style files */
:root {
  --main-bg-color: #e4ddd3;
  --text-primary-color: #555555;
  --imperial-red-color: #FB4B4E;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
