<app-defaut-login-layout title="Login into your account" primaryBtnText="Login Now" secondaryBtnText="Signup Now">
  <form [formGroup]="loginForm">
    <app-primary-input formControlName="email" inputName="email" type="email" label="Email"
      placeholder="email@email.com.br">
      <img src="../../../../assets/images/mail-icon.svg" />
    </app-primary-input>
    <app-primary-input formControlName="password" inputName="password" type="password" label="Password"
      placeholder="Your Password">
      <img src="../../../../assets/images/lock-icon.svg" />
    </app-primary-input>
    <span>Forgot password</span>
  </form>
</app-defaut-login-layout>
